{% extends 'dashboard/index.html' %}
{% load static %}
{% load humanize %}

{% block content %}
<div class="row tile_count">
  <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
    <span class="count_top"><i class="fa fa-money"></i> Total </span>
    <div class="count">{{totals.total|intcomma}}</div>
  </div>
  <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
    <span class="count_top"><i class="fa fa-money"></i> Cash </span>
    <div class="count">{{portfolio_detail.balance|intcomma}}</div>
  </div>
  <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
    <span class="count_top"><i class="fa fa-money"></i> Stock Pricing</span>
    <div class="count">{{totals.total_pricing|intcomma}}</div>
  </div>
  <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
    <span class="count_top"><i class="fa fa-money"></i> Profit/Loss</span>
    {% if totals.total_profit_loss >= 0 %}
      <div class="count green">{{totals.total_profit_loss}}</div>
    {% else %}
      <div class="count red">{{totals.total_profit_loss}}</div>
    {% endif %}
  </div>
  <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
    <span class="count_top"><i class="fa fa-money"></i> Profit/Loss %</span>
    {% if totals.total_profit_loss >= 0 %}
      <div class="count green">{{totals.total_profit_loss_percentage}} %</div>
    {% else %}
      <div class="count red">{{totals.total_profit_loss_percentage}} %</div>
    {% endif %}
  </div>
  <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
    <span class="count_top"><i class="fa fa-money"></i> Portfolio Days</span>
    <div class="count">{{portfolio_detail.portfolio_days}}</div>
  </div>
</div>
<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="dashboard_graph">

      <div class="row x_title">
        <div class="col-md-6">
          <h3>Portfolio Pricing Graph </h3>
        </div>
      </div>
      <div class="col-md-9 col-sm-9 col-xs-12">
        <div> {{chart|safe}}</div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>Portfolio Stock List</h2>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
          <thead>
            <tr>
              <th>Ticker</th>
              <th>Company name</th>
              <th>Average Stock Price</th>
              <th>Last Stock Price</th>
              <th>Number of stocks</th>
              <th>Pricing</th>
              <th>Profit/Loss</th>
              <th>%</th>
              <th>Portfolio Share</th>
            </tr>
          </thead>
          <tbody>
            {% for stock in portfolio_stocks %}
              <tr>
                <td><a href="{% url 'dashboard' ticker=stock.stock %}">{{stock.stock}}</a></td>
                <td>Full Company Name</td>
                <td>{{stock.stock_price|intcomma}}</td>
                <td>{{stock.last_stock_price}}</td>
                <td>{{stock.amount}}</td>
                <td>{{stock.pricing|intcomma}} PLN</td>
                <td>{{stock.profit_loss|intcomma}}</td>
                <td>{{stock.profit_loss_percentage}}%</td>
                <td>{{stock.portfolio_share}} %</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block portfolios %}
{% for portfolio in portfolios %}
  <li><a>{{portfolio.name}}<span class="fa fa-chevron-down"></span></a>
    <ul class="nav child_menu">
      <li class="sub_menu"><a href="{% url 'portfolio-detail' portfolio=portfolio.name %}">Dashboard</a></li>
      <li><a href="{% url 'portfolio-buy' portfolio=portfolio.name %}">Buy Stocks</a></li>
      <li><a href="{% url 'portfolio-sell' portfolio=portfolio.name %}">Sell Stocks</a></li>
      <li><a href="{% url 'portfolio-delete' portfolio=portfolio.name %}">Delete Portfolio</a></li>
    </ul>
  </li>
{% endfor %}
{% endblock %}


{% block script %}
{{ block.super }}
{% endblock %}