{% extends 'dashboard/index.html' %}
{% load static %}
{% load humanize %}

{% block content %}

<div class="row" role="main">
  <div class="">
    <div class="clearfix"></div>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>Edit User Profile</h2>

            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <div class="col-md-3 col-sm-3 col-xs-12 profile_left">
              <div class="row">
                <form method="POST" enctype="multipart/form-data">
                    <fieldset class="form-group">
                      <legend class="border-bottom mb-4">Change Profile Image</legend>
                      {% csrf_token %}
                      {{ user_form.as_p }}
                      {{ profile_form.as_p }}
                    </fieldset>
                  <div class="form-group">
                      <button class="btn btn-primary btn-lg" type="submit">Update</button>
                  </div>
                </form>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block portfolios %}
{% for portfolio in portfolios %}
  <li><a>{{portfolio.name}}<span class="fa fa-chevron-down"></span></a>
    <ul class="nav child_menu">
      <li class="sub_menu"><a href="{% url 'portfolio-detail' portfolio=portfolio.name %}">Dashboard</a></li>
      <li><a href="{% url 'portfolio-buy' portfolio=portfolio.name %}">Buy Stocks</a></li>
      <li><a href="{% url 'portfolio-sell' portfolio=portfolio.name %}">Sell Stocks</a></li>
      <li><a href="{% url 'portfolio-delete' portfolio=portfolio.name %}">Delete Portfolio</a></li>
    </ul>
  </li>
{% endfor %}
{% endblock %}


{% block script %}
{{ block.super }}
{% endblock %}



