{% extends 'dashboard/index.html' %}
{% load static %}
{% load humanize %}

{% block content %}
<div class="row" role="main">



</div>

{% endblock %}

{% block portfolios %}
{% for portfolio in portfolios %}
  <li><a>{{portfolio.name}}<span class="fa fa-chevron-down"></span></a>
    <ul class="nav child_menu">
      <li class="sub_menu"><a href="{% url 'portfolio-detail' portfolio=portfolio.name %}">Dashboard</a></li>
      <li><a href="{% url 'portfolio-buy' portfolio=portfolio.name %}">Buy Stocks</a></li>
      <li><a href="{% url 'portfolio-sell' portfolio=portfolio.name %}">Sell Stocks</a></li>
      <li><a href="{% url 'portfolio-delete' portfolio=portfolio.name %}">Delete Portfolio</a></li>
    </ul>
  </li>
{% endfor %}
{% endblock %}


{% block script %}
{{ block.super }}
{% endblock %}