{% extends 'dashboard/blank.html' %}

{% block title %}Enter new password{% endblock %}

{% block content %}

{% if validlink %}
<div class="login_wrapper">
    <section class="login_content">
      <form method="POST">
        {% csrf_token %}
        <h1>Set a new password!</h1>
        {{ form.as_p }}
        <div>
          <button class="btn btn-default submit" type="submit">Change my password!</button>
        </div>
      </form>
</div>
{% else %}

<p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>

{% endif %}
{% endblock %}
