{% extends 'dashboard/index.html' %}
{% load static %}

{% block content %}
    <div class="login_wrapper">
      <div class="animate form login_form">
        <section class="login_content">
          <form method="POST">
            {% csrf_token %}
            <h1>Create Account</h1>
            {{ form.as_p }}
            <div>
              <button class="btn btn-default submit" type="submit">Submit</button>
            </div>

            <div class="clearfix"></div>

            <div class="separator">
              <p class="change_link">Already a member ?
                <a href="{% url 'login' %}" class="to_register"> Log in </a>
              </p>

              <div class="clearfix"></div>
              <br />

              <div>
                <h1><i class=""></i> Django Stock Application!</h1>
              </div>
            </div>
          </form>
        </section>
      </div>
    </div>
{% endblock %}